<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mappers.BoardMapper">
<resultMap type="com.spring.db.jdbc.board.model.BoardVO" id="BoardMap">
<id property="boardNo" column="board_no"/>
<result property="writer" column="writer"/>
<result property="title" column="title"/>
<result property="content" column="content"/>
</resultMap>
	<insert id="insertArticle">
		INSERT INTO cmh_free VALUES (0, #{writer},#{title},#{content})
	</insert>
	
	<select id="getArticles" resultMap="BoardMap">
		SELECT * FROM cmh_free 
	</select>
	
	<select id="getArticle" resultMap="BoardMap">
		SELECT * FROM cmh_free
		WHERE board_no=#{index}
	</select>
	
	<delete id="deleteArticle">
		DELETE FROM cmh_free WHERE board_no=#{index}
	</delete>
	
	<update id="updateArticle">
		UPDATE cmh_free SET writer=#{writer}, title=#{title}, content=#{content} WHERE board_no=#{boardNo}
	</update>
	
	<select id="searchList" resultMap="BoardMap">
		SELECT * FROM cmh_free 
		WHERE writer LIKE #{keyword}
	</select>
</mapper>